#root {
	max-width: 1280px;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

#shuffle-button {
	width: 75px;
	height: 75px;
	border-radius: 5em;
	background-color: #f8f8f8;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sideways-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	/* border: 1px solid red; */
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2em;
	margin: 50px auto;
	border-radius: 15px;
	width: 400px;
	height: 200px;
	background-color: #f8f8f8;
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transition: transform 0.1s;
}
.card.easy {
	background-color: #90ee90;
}
.card.medium {
	background-color: #f0e68c;
}
.card.hard {
	background-color: #fa8072;
}
.card:hover {
	transform: scale(1.05);
	will-change: transform;
}
.card:active {
	animation: click 0.2s forwards;
}

.card-response {
	font-size: 20px;
	margin: auto;
	padding: auto;
	font-style: oblique;
	font-weight: bold;
	/* border: 1px solid red; */
}
.correct {
	color: #008000;
}
.incorrect {
	color: #ff0000;
}

@keyframes click {
	from {
		transform: scale(1.05);
	}
	to {
		transform: scale(1);
	}
}

.read-the-docs {
	color: #888;
}
